<div class="row">
    <div class="span8 offset2">
        <div class="form-head">
            <div class=content-head>
                <i class="icon-user"></i> Current Users
            </div>
        </div>
        <div class="form-list">
            <% if @users.blank? %>
                <b>There is no users</b>
            <% else %>
                <table class="table table-hover">
                <% @users.each do |i| %>
                    <tbody>
                        <tr>
                            <td class="center"><%= i.id %></td>
                            <td class="borders"><%= link_to i.name, user_path(i) %></td>
                            <td class="borders"><%= i.email %></td>
                            <td class="center"><%= link_to insert_html("<i class='icon-trash'></i>"), user_path(i), method: :delete, data: { confirm: "Are you sure?"} %></td>
                        </tr>
                    </tbody>
                <% end %>
            <% end %>
        </div>
    </div>
</div>