<h1><%= @user.name %></h1><br/>
<div class="offset4">
    <b> Login: </b><%= @user.login %><br/>
    <b> Email: </b><%= @user.email %><br/><br/>
    <a href="/users/id/projects"><input class="btn btn-primary btn-large" type="button" value="Go to projects!"/></a>
</div>
