%h1 Edit Project
.row
  .span6.offset4
    = form_for @project, url: user_project_path, method: :put, validate: true do |f|
      = f.label :name
      = f.text_field :name
      %p #{f.submit "Save", class: "btn btn-medium btn-primary"}