<div class="row">
    <div class="span6 offset3">
        <h2>Projects</h2>

        <% if @projects.blank? %>
            <b>There is no projects</b>
        <% else %>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                </tr>
            <% @projects.each do |proj| %>
                <tr>
                    <td><%= proj.id %></td>
                    <td><%= link_to proj.name, url_for([@user, proj]), method: :get %></td>
                    <td><%= link_to "Edit", edit_user_project_path(@user, proj) %></td>
                    <td><%= link_to "Delete", url_for([@user, proj]), method: :delete, data: { confirm: "Are you sure?"} %></td>
                </tr>
            <% end %>
        <% end %>
    </div>
</div>
