@import "bootstrap";

/* mixins, variables, etc. */
$grayLight: #999;

/* universal */


//html {
//  overflow-y: scroll;
//}

body {
  //background-image: url(wall.jpg);
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* form for projects#index*/

.form-head {
  height: 40px;
  margin-top: 50px;
  //background-color: #3f66a7;
  border: 1px solid #315589;
  background-image: linear-gradient(bottom, #375EA1 0%, #5281BA 100%);
  background-image: -o-linear-gradient(bottom, #375EA1 0%, #5281BA 100%);
  background-image: -moz-linear-gradient(bottom, #375EA1 0%, #5281BA 100%);
  background-image: -webkit-linear-gradient(bottom, #375EA1 0%, #5281BA 100%);
  background-image: -ms-linear-gradient(bottom, #375EA1 0%, #5281BA 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #375EA1),
      color-stop(1, #5281BA)
  );
}

.form-mid {
  height: 50px;
  //background-color: #d7d7d7;
  border: 1px solid #aaaaaa;
  background-image: linear-gradient(bottom, #CCCCCC 0%, #E0E0E0 100%);
  background-image: -o-linear-gradient(bottom, #CCCCCC 0%, #E0E0E0 100%);
  background-image: -moz-linear-gradient(bottom, #CCCCCC 0%, #E0E0E0 100%);
  background-image: -webkit-linear-gradient(bottom, #CCCCCC 0%, #E0E0E0 100%);
  background-image: -ms-linear-gradient(bottom, #CCCCCC 0%, #E0E0E0 100%);

  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, #CCCCCC),
      color-stop(1, #E0E0E0)
  );
}

.form-list {
  margin-bottom: 50px;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 1px 1px 2px $grayLight;
}

/* other */

// content in the top (head) layer
.content-head {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  font-family: helvetica;
  font-size: 1.5em;
}

// content in the mid layer
.content-mid {
  margin-top: 10px;
  margin-left: 10px;
}

// mid-layer + sign
.plus {
  margin-top: 10px;
  margin-right: 10px;
  color: #589072;
}

// borders around name of projects and tasks in the list
.borders {
  border-left: 1px solid #E7EBEA;
  border-right: 1px solid #E7EBEA;
}