<footer class="footer">
    <small>
        Task Manager App by Danny Ocean
    </small>
    <nav>
        <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
        </ul>
    </nav>
</footer>